.blank-li-entry {
    border: 2px solid #000; 
    border-radius: 5px; /* Optional: for rounded corners */
    background-color: #797979; 
    /* padding: 20px; */
    text-align: center;
    position: relative;
    /* width: auto; */
    height: auto;
}