input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.register {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}

.register:hover {
    background-color: #45a049;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    width: 100%;
    padding: 20px; /* Increased padding */
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 20px; /* Increased font size */
    background-color: #fff;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.input-field:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
}

.password {
    margin-top: 25px;
}

#show-password {
    display: block;
    margin: 12px 0;
    cursor: pointer;
    color: #4CAF50;
    text-align: right;
}

#post-button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

#post-button:hover {
    background-color: #45a049;
}