#Calendar-booking-container {
    display: flex;
    width: 100vw; /* Full viewport width */
    height: 70vh; /* Full viewport height */
    
    /* overflow: hidden;  */
    /* box-sizing: border-box; */
}

#Calendar-container {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    transition: flex-grow 0.3s, width 0.3s; /* Smooth transition when resizing */
    padding: 2vw;
    box-sizing: border-box;
    
}


#calendar-days {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Grid columns for the rest */
    gap: 1vw; /* Space between grid items */
    list-style-type: none; /* Remove default list styling */
    padding: 1vw; 
    margin: 0;
    height: auto;
    background-color:rgb(176, 176, 170)
}

#calendar-days li {
    padding: 1vw;
    font-size: 1.2vw;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    margin: 0.5vw;
    height: 100%;
    
}



#calendar-days button {
    position: absolute; /* Position button absolutely inside li */
    top: 0;
    left: 0;
    width: 100%; /* Button width matches parent li */
    height: 100%; /* Button height matches parent li */
    border: inherit;
    /* background-color: transparent; */
    cursor: pointer;
    padding: inherit;
    margin: 0;
    font-size: 1.2vw; /* Adjust font size */
    color: #333; 
    /* background-color: #f0f0f0; */
    border: 2px solid #ccc;
    box-sizing: border-box;
    
}

/* Styling for the first 7 li items */
#calendar-days li:nth-child(-n+7) {
    font-size: 1.5vw; /* Larger font size */
    background-color: lightblue; /* Different background color */
    border-color: blue; /* Different border color */
}

.Booking-container {
    width: 0; /* Start with width 0 */
    overflow: hidden; /* Hide content when width is 0 */
    transition: width 0.3s; /* Smooth transition when resizing */
    background-color: antiquewhite;
}

.Booking-container.show {
    width: 40%; /* Expand to 40% of the page width */
}

.Booking-container.show ~ #Calendar-container {
    flex-grow: 0.6; /* Adjust flex-grow when the booking container is shown */
}