/* 


#calendar-days {
   
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 10%); 
    gap: 1vw;
    list-style-type: none; 
    padding: 0;

    justify-content: center; 

}

.column-titles {
    width: 20%;
    height:auto;
} */
