

/* #calendar { */
    /* display: flex; */
    /* justify-content: center;  */
/* } */


#calendar-days {
    flex:1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 10vw); /* 7 columns, each 1 fraction of available space */
    gap: 1vw; /* Optional: space between grid items */
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 1vw; 
    justify-content: center; /* Center horizontally */
    /* align-items: center; */
}
/* 
#nextMonthButton {
    height: 1vw;
}

#previousMonthButton{
    height: 1vw;
} */