.user--bookings--li {
    border-radius: 0.45rem;
    border-style: solid;
    padding: 0.6rem;
    margin-bottom: 0.75rem;
    width: 50rem;
    display: grid;
    grid-template-areas: 
    "header header"
    "main main "
}

.user--bookings--li--dateStaying {
    grid-area: header;
    justify-self: right;
    font-size: x-large;
    font-weight: 600;
    padding: 0.4rem;
}

.user--bookings--li--campingFacility {
    grid-area: main;
}

.user--bookings--li--state {
    grid-area: main;
}

.user--bookings--li--ref {
    grid-area: header;
    justify-self: left;
    font-size: x-large;
    font-weight: 600;
    padding: 0.4rem;
}

.user--bookings--li--details {
    grid-area: main;
    justify-self: center;
    text-decoration: underline;
    color: blue;
    font-size: large;
}

.user--bookings--li--details:hover {
    color: rgb(128, 0, 148);
    cursor: pointer;
    
  }