.App {
  text-align: center;
}

/* Home button  */
#Home-Button {
  position:fixed;
  height: auto;
  width: 16vw;
  opacity: 1;
}

#home-Image {
  height: auto;
  width: 16vw;
  position: absolute;
}

/* Book button  */
#Book-Button {
  position:fixed;
  height: auto;
  width: 16vw;
  opacity: 1;
}

#book-Image {
  height: auto;
  width: 16vw;
  position: absolute;
}

/* Log In button  */
#LogIn-Button {
  position:fixed;
  height: auto;
  width: 20vw;
  opacity: 1; 
}

#LogIn-Button:hover > #logInFire1Image{
  animation-name: fadeIn ;
  animation-duration: 1s; 
  animation-iteration-count:infinite;
  animation-delay: 0s;
  opacity: 0; 
}
#LogIn-Button:hover > #logInFire2Image{
  animation-name: fadeIn ;
  animation-duration: 1s; 
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
  opacity: 0; 
}
#LogIn-Button:hover > #logInFire3Image{
  animation-name: fadeIn ;
  animation-duration: 1s; 
  animation-iteration-count: infinite;
  animation-delay: 1.2s;
  opacity: 0; 
}

.logIn-images {
  height: auto;
  width: 20vw;
  position: absolute;
  /* opacity: 1; 
  transition: opacity 1s ease-in-out;  */
 } 
 
.logInFire1-images {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: auto;
  width: 20vw;
}

.logInFire2-images {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: auto;
  width: 20vw;
}

.logInFire3-images {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: auto;
  width: 20vw;
}

  @keyframes fadeIn {
  0% {opacity: 0; }
  /* 50% {opacity: 0;} */
  100% {opacity: 0.5;}
} 
