.App {
  text-align: center;
  
}
.Header {
  height: 10vw;
  width: auto;
}

#header-Image {
  height: 5.5vw;
  width: auto;
}


.NavButtons {
  position: absolute;
  display: flex;
  justify-content: space-around;
  /* grid-template-columns: 1fr 1fr; */
  align-items: center;
  margin: 0.5vw 0;
  width: 1vw;
  right: 23vw;
  top: 2vw;
}

.NavButtons > div:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  width: 1.5px;
  height: 45%; /* Adjust the height as needed */
  background-color: #ccc; /* Color of the line */
}


/* Home button  */
#Home-Button { /* Container ------ -------*/
  position:relative;
  height: 3.2vw;
  width: auto;
  opacity: 1;
}

#home-Image { /* Image */
  height: 3.2vw;
  width: auto;
  /* position: absolute; */
  /* margin: 1vw; */
}



/* Book button  */
#Book-Button { /* Container ------ -------*/
  position:relative;
  height: 3.2vw;
  width: auto;
  opacity: 1;
}

#book-Image { /* Image */
  height: 3.2vw;
  width: auto;
  /* position: absolute; */
  /* margin: 1vw; */

}



/* Log In button  */
#LogIn-Button { /* Container ------ -------*/
  position:relative;
  height: 3.2vw;
  width: auto;
  opacity: 1; 
  /* margin: 1vw; */

}

.logIn-images { /* Image */
  height: 3.2vw;
  width: auto;
  position: absolute;
 } 
 
.logInFire1-images { /* Image */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 3.2vw;
  width: auto;
}

.logInFire2-images { /* Image */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 3.2vw;
  width: auto;
}

.logInFire3-images { /* Image */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 3.2vw;
  width: auto;
}

#LogIn-Button:hover > #logInFire1Image{
  animation-name: fadeIn ;
  animation-duration: 1s; 
  animation-iteration-count:infinite;
  animation-delay: 0s;
  opacity: 0; 
}
#LogIn-Button:hover > #logInFire2Image{
  animation-name: fadeIn ;
  animation-duration: 1s; 
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
  opacity: 0; 
}
#LogIn-Button:hover > #logInFire3Image{
  animation-name: fadeIn ;
  animation-duration: 1s; 
  animation-iteration-count: infinite;
  animation-delay: 1.2s;
  opacity: 0; 
}



/* Animation */
  @keyframes fadeIn {
  0% {opacity: 0; }
  /* 50% {opacity: 0;} */
  100% {opacity: 0.5;}
} 
