
.admin-facilities-button {
    justify-self: right;
    text-decoration: underline;
    color: blue;
    font-size: large;
}

.admin-facilities-button:hover {
    color: rgb(128, 0, 148);
    cursor: pointer;
}

.admin-facilities-fLabel {
    display: inline-block;
    font-weight: bold;
}