
.admin-facilities-edit-button {
    justify-self: right;
    text-decoration: underline;
    color: blue;
    font-size: large;
}

.admin-facilities-edit-button:hover {
    color: rgb(128, 0, 148);
    cursor: pointer;
}

.admin-facilities-fLabel {
    /* border-style: solid; */
    display: inline-block;
    font-weight: bold;
}